.songList{
    background-color: #2E2E2E;
    color:white;
}

.songObj{
    background-color:#2E2E2E !important;
    color:white;
    border: 0px !important
}

.now_playing {
    margin: 0 auto;
    max-width: 80%;
    /* text-align: center; */

}

 .play_button {
     text-align: center;
 }

.dashboard{
    background-color: #404040 !important;
    color:white !important;
    width: 100vw;
    min-height: 100vh;
}

.rangeObj{
     background-color:#2E2E2E !important;
    color:white;
    border: 0px !important
}

.dropdown {
    margin: 10px 250px;
    right: 20px;
}

.slider-container {
    margin-left: 50px;
}


.vsc-initialized{
    background-color: #404040
}

