<html>
<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script>
	window.onSpotifyWebPlaybackSDKReady = () => {
	  const token = 'BQCNtZmcPEgrmziVdPCG1vil4MIV9CYigBTnlhZbKudUDjjzemV5xqzNOBNsnQsoTwy3NwmsU6EHCx9lnDPlrzODO0gxF4oT3EeF9vrYQZm7EDIKik7APtCEBxIJT_eXmk1vH-MRzfeSaIdfgNCkNUZ_y1G1A1GAMSLf7xw2A_9nlOexnAlfo_xjgfE';
	  const player = new Spotify.Player({
	    name: 'Web Playback SDK Quick Start Player',
	    getOAuthToken: cb => { cb(token); }
	  });

	  // Error handling
	  player.addListener('initialization_error', ({ message }) => { console.error(message); });
	  player.addListener('authentication_error', ({ message }) => { console.error(message); });
	  player.addListener('account_error', ({ message }) => { console.error(message); });
	  player.addListener('playback_error', ({ message }) => { console.error(message); });

	  // Playback status updates
	  player.addListener('player_state_changed', state => { console.log(state); });

	  // Ready
	  player.addListener('ready', ({ device_id }) => {
		


	    console.log('Ready with Device ID', device_id);

	    const play = ({
	      spotify_uri,
	      playerInstance: {
	        _options: {
	          getOAuthToken,
	          id
	        }
	      }
	    }) => {
	      getOAuthToken(access_token => {
	        fetch(`https://api.spotify.com/v1/me/player/play?device_id=${id}`, {
	          method: 'PUT',
	          body: JSON.stringify({ uris: [spotify_uri] }),
	          headers: {
	            'Content-Type': 'application/json',
	            'Authorization': `Bearer ${access_token}`
	            // 'Authorization': `Bearer BQDTSfturn_0Qsi4prPM33lb4BDmGyao5j7RkUczwzVwVE0kdXWXhupaF6yeZh5eJGuhpsFt_0PNlX58d8k1-EKt45M6GZgWhO4fleatG92WlRuFBZDj-eO02JMspkqKQS28eZ0m3mWUC9aEgJ66BqoimGZJH6kBuP1BTl3ZyDgKLyu5_qTmelaw`
	          },
	        })
	        .catch((err) => {
	        	console.log('Request failed: ',err);
	        })
	      });
	    };


	    play({
	      playerInstance: player,
	      spotify_uri: 'spotify:track:2wVCje7MBTBYqnNgvUGgZA',
	    });

	    window.myPlayer = player;
	    window.play = play;
	  });

	  // Not Ready
	  player.addListener('not_ready', ({ device_id }) => {
	    console.log('Device ID has gone offline', device_id);
	  });

	  // Connect to the player!
	  player.connect();
	  
	};

	function test(){
		console.log('Inside test');
		window.myPlayer.pause()
		.then(() => {
			const uris = [
			"spotify:track:26NP9TlHzftGbMQORpuLe4",
			"spotify:track:6trvIBKmx64nkKs2KrWgx4",
			"spotify:track:67YZtCviE4sEHmgRg5p5q8",
			"spotify:track:67HRSCGK3ZQIxb3Spr1cHQ",
			"spotify:track:1poYgV2T1E488kAgofhHZM",
			"spotify:track:5hFSugZQs0ZbzOS4fx68wY",
			"spotify:track:5qbhBDzV7r3RjT4ASzc49L",
			"spotify:track:3aIaAYeBKIjaG9Q05VdT5U",
			"spotify:track:3pxRbJhGBBNjQGYrECfUT1",
			"spotify:track:2BUoLEEJvZfu0FhaJtYv0N",
			"spotify:track:127qrKbnyZCYnn158P80op",
			"spotify:track:0rnMsaM2G35eNbR01THeqY"
			];

			const idx = Math.floor(Math.random()*(uris.length-1));
			console.log('Trying to play: ',uris[idx]);

			window.play({
				playerInstance: window.myPlayer,
				spotify_uri: uris[idx]
			})
		});
	}
</script>
	<body>
		<button onclick="test()">Play</button>
	</body>
</html>